#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  --mainColor: aquamarine;
  --secondColor: rgb(6, 92, 63);
  --color: #000
}

.btn {
  background-color: var(--color);
  color: var(--mainColor);
  padding: 4px;
}

.btn:hover {
  color: var(--secondColor)
}