#root {
  --mainColor: aquamarine;
  --secondColor: rgb(6, 92, 63);
  --color: #000
}

body {
  text-align: center;
}

.btn {
  background-color: var(--color);
  color: var(--mainColor);
  padding: 4px;
}

.btn:hover {
  color: var(--secondColor)
}