.app-header {
    background-color: var(--secondColor);
    color: var(--color);
}
.home-nav{
    width: 50px;
}
.home-nav img {
    width: 50px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app-nav {
    display: flex;
    gap: 15px;
}
.app-header a {
    color: var(--color);
}
.app-header a:hover {
    color: #fff;
}
.app-header a.active {
    color: var(--mainColor);
    font-weight: 600;
    text-decoration: underline;
}
