.main-layout {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: minmax(40px, 1fr) minmax(auto, 1080px) minmax(40px, 1fr);
}

.main-layout>* {
    grid-column: 2;
}

.full {
    grid-column: -1/1;
}